<footer>
    <div class="credits">
        Да, <a href="https://gitlab.com/devass/devass.su">исходный код</a> этого сайта открыт
    </div>
</footer>

<script src="/bundle.js" async></script>
<script src="/style-bundle.js"></script>