<header>
    <nav class="cl-effect-1">
        <a href="/">Главная</a>
        <a href="https://gitlab.com/devass">GitLab</a>
        <a href="https://discord.com/invite/sRQfVrF">Discord</a>
        <a href="https://t.me/devassch">Telegram</a>
        <a href="https://openvk.su/devass">OpenVK</a>
        <a href="/branding.html">Брендинг</a>
    </nav>
</header>